
textarea.qw-meta-value {
  width: 500px;
  height: 120px;
}
#export-query {
  width: 94%;
  height: 600px;
  font-family: monospace;
}
#import-query {
  width: 94%;
  height: 300px;
  font-family: monospace;
}
#query-preview-controls {
  float: right;
  line-height: 40px;
  margin-right: 20px;
}
#query-preview-target {
  padding: 4px 8px;
}
.query-preview-inactive {
  background: transparent url('../images/loading.gif') -40px center no-repeat;
}
.query-preview-active {
  padding-left: 40px;
  background: transparent url('../images/loading.gif') left center no-repeat;
}
#query-preview-controls .qw-button {
  float: right;
  margin-left: 20px;
}
#query-preview {
  border: 1px solid #bbb;
  background: #fff;
  padding: 3px;
}
#preview-title {
  margin: 0px 0px 12px;
  padding: 0px 12px;
  background-color: #efefef;
  font-size: 1.1em;
  line-height: 2.8em;
}
#query-preview .qw-options-group-content {
  border: 1px solid #ddd;
}
.qw-button {
  display: block;
  float: left;
  border-color: #BBBBBB;
  color: #464646;
  -moz-box-sizing: content-box;
  border-radius: 11px 11px 11px 11px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-size: 12px !important;
  line-height: 13px;
  padding: 5px 8px;
  margin: 6px 0px;
  text-decoration: none;
  background: url("../images/white-grad.png") repeat-x scroll left top #F2F2F2;
  text-shadow: 0 1px 0 #FFFFFF;
}
.qw-create {
  margin-top: 12px;
}
label.qw-label {
  font-weight: bold;
  line-height: 1.8em;
  min-width: 120px;
  display: block;
  float: left;
  margin-right: 12px;
}
.qw-setting {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #bbb;
}
.qw-setting-header {
  display: block;
  padding: .4em .5em .4em 2em;
}
label.qw-query-checkbox,
label.qw-field-checkbox,
label.qw-filter-checkbox,
label.qw-sort-checkbox {
  display: block;
  margin: 3px 0px;
  padding: 0px;
}
label.qw-query-checkbox input,
label.qw-field-checkbox input {
  margin-right: 6px;
}
.qw-desc {
  padding-left: 24px;
  margin: 0px;
}
#qw-query-action-buttons {
  width: 93%;
  margin-left: 1%;
}
#query-actions {
  float: right;
}
.qw-weight {
  float: right;
}
.qw-remove {
  float: right;
  margin-left: 12px;
}
.qw-setting-header {
  display: block;
  padding: .4em .5em .4em 2em;
}
#qw-edit-query-form textarea {
  font-family: monospace;
}
a.toplevel_page_query-wrangler {
  letter-spacing: -1px;
}
#qw-create {
  width: 30%;
  float: left;
  border: 1px solid #888;
  padding: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
#qw-create-description {
  width: 50%;
  float: left;
  margin-left: 7%;
}
#qw-create-description div {
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background: #f6f6f6;
  margin-bottom: 6px;
}
#qw-create-description div p {
  padding: 8px;
}
#qw-create-description h3 {
  margin: 0px;
  padding: 8px;
  border-bottom: 1px solid #bbb;
  border-top: 1px solid #bbb;
  background-color: #efefef;
}
#qw-settings-page {
  border: 1px solid #444;
  padding: 1em 2em;
  margin-top: 1em;
}
.qw-hidden {
  display: none;
}
.qw-field-textarea {
  width: 60%;
  height: 180px;
}
.qw-text-long {
  width: 60%;
}
.qw-text-short {
  width: 48px;
}