
#qw-options-actions {
  display: none;
}
#qw-options-actions-cancel {
  margin-left: 16px;
}
#qw-options-forms .qw-item-form {
  display: none;
}
#qw-page-settings {
}
#qw-query-admin-options-wrap {
  margin: 6px;
  padding: 4px 8px;
}
#qw-list-title {
  width: 70%;
}
#qw-query-fields-list,
#qw-query-filters-list,
#qw-query-sorts-list {
  border-top: 1px solid #bbb;
  padding: 4px 0px;
}
#qw-show-arguments {
  margin-top: 32px;
  padding: 16px;
  border: 1px solid #bbb;
}
#qw-form-backup {
  display: none;
}
div.qw-query-title {
  display: block;
  padding: 2px 8px;
}
div.qw-query-title span.qw-setting-value,
#qw-query-filters-list span.qw-setting-title,
#qw-query-fields-list span.qw-setting-title,
#qw-query-sorts-list span.qw-setting-title {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
#qw-query-filters-list span.qw-setting-value,
#qw-query-fields-list span.qw-setting-value,
#qw-query-sorts-list span.qw-setting-value {
  color: black;
  text-decoration: none;
  font-weight: normal;
}
.qw-checkboxes {
  border: 1px solid #bbb;
  background: #fff;
  margin: 4px;
  padding: 6px;
  height: 100px;
  overflow-y: scroll;
}
.qw-query-admin-column {
  width: 30%;
  float: left;
  margin-right: 3%;
  margin-top: 6px;
}
.qw-query-admin-options{
  background: #f6f6f6;
  border: 1px solid #bbb;
  padding-bottom: 4px;
  margin-bottom: 12px;
}
.qw-query-admin-options h4 {
  background: #efefef;
  margin: 0px 0px 2px;
  padding: 3px 4px;
}
.qw-clear-gone {
  float: none;
  clear: both;
  line-height: 0px;
  height: 0px;
  font-size: 0px;
}
ul.qw-field-tokens-list li {
  font-weight: bold;
}
.qw-field-options {
  margin: 4px 180px 4px 0px;
  padding: 4px;
  border: 1px solid #ddd;
}
.qw-query-add-titles span {
  display: block;
  text-align: center;
  width: 48%;
  float: left;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.qw-checkboxes {
  border: 1px solid #bbb;
  background: #fff;
  margin: 4px;
  padding: 6px;
  height: 86%;
  width: 60%;
  overflow-y: scroll;
}
.ui-dialog-content .qw-checkboxes {
  width: auto;
}
.qw-desc {
  padding-left: 24px;
  margin: 0px;
}
.qw-field-title,
.qw-sort-filter-name,
.qw-sort-sort-name,
.qw-hidden,
.qw-item-form .qw-setting-header {
  display: none;
}

#display-style-settings .qw-setting-header,
#row-style-settings .qw-setting-header {
  display: block;
}

.qw-options-group {
}
.qw-options-group-title {}
.qw-options-group-content {
  padding: 4px 20px;
}
.qw-field-textarea {
  width: 600px;
  height: 300px;
}
.qw-create {
  margin-top: 12px;
}
.qw-create-select option {
  padding: 6px;
}
.add-selected-wrapper {
  display: block;
  height: 40px;
  background: transparent url('../images/loading.gif') -40px top no-repeat;
}
.add-selected-wrapper-active {
  background: transparent url('../images/loading.gif') left center no-repeat;
  padding-left: 28px;
}
.qw-changes {
  display: none;
}
.qw-modified {
  background-color: #FFFFE0;
}
.qw-display-style-settings {
  /*display: none;*/
}
.qw-sortable {
  padding: .4em .5em;
}
li.qw-sortable span.qw-setting-value {
  color: #000;
  text-decoration: none;
  cursor: default;
}