.qw-min-height {
  min-height: 440px !important;
}
.qw-checkboxes {
  border: 1px solid #bbb;
  background: #fff;
  margin: 4px;
  padding: 6px;
  height: 88%;
  width: 60%;
  overflow-y: scroll;
}
.ui-dialog-content .qw-checkboxes {
  width: auto;
}
.qw-weight {
  float: right;
}
.qw-query-add-titles {
  height: 22px;
}
.qw-query-add-titles .qw-query-title {
  float: right;
}
.qw-options-group-content {
  padding-left: 24px;
}
.qw-remove {
  float: right;
  margin-left: 12px;
}
.qw-empty-list {
  padding: 6px 12px;
}